.bigtab{
    display: flex;
    flex-wrap: wrap;
}
.smalltab{
    border: 1px solid black;
    text-align: center;
    margin: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 14px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #5F9EA0;
}
.price{
    width: 100%;
    background-color: 	#FFDEAD;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}